.transactionCard{
    display: flex;
    position: relative;
    flex-direction: column;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    .modify{
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    table{
        width: 100%;
        border-collapse: collapse;
        td{
            text-align: left;
            width: 25%;
            height: 50%;
        }
    }
}