section.home{
    color: white;
    display: flex;
    flex-direction: column;
    button{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        background-color: #0074ff;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: #0056b3;
        }
    }
}